<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/compilado.css" type="text/css">
    <title>Contacto - 3B Ingenieros</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../img/logo-blanco_Mesa de trabajo 1.png" height="50"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" text-align="right">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="trabajos.html">Trabajos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link   active" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header><br>
    <div class="col-lg-12 center">
      <h1>¿Tienes un proyecto en mente? Contáctenos</h1>
    </div></section><br>
    <div class="container">
    <div class="row">
      <form class="col-md-8">
        <div class="form-group">
          <label for="exampleFormControlInput1">¿Cuál es tu nombre?</label>
          <input type="text" class="form-control" id="celular" placeholder="Tu nombre" autocomplete="" required>
        </div><br>
        <div class="form-group">
          <label for="exampleFormControlInput1">Dirección Email</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre@ejemplo.com">
        </div><br>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elige un servicio</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Construcción Civil</option>
            <option>Pintura Industrial</option>
            <option>Mantenimiento de Edificaciones</option>
            <option>Proyectos de Ingeniería.</option>
            <option>Elaboración de Planos de Instalaciones Eléctricas.</option>
            <option>Elaboración de Plan de Contingencias/Seguridad</option>
          </select><br>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">¿Cuentanos más acerca de tu proyecto?</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div><br>
        <button type="submit" class="btn btn-dark mb-2 center">Enviar Formulario</button>
        <br>
      </form>
        <div class="col-md-4">
            <div class="contact-us-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3828.2161745318103!2d-71.54611728513774!3d-16.36294668870001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a21234473bd%3A0x47c70cf17b630c67!2s3B%20Ingenieros!5e0!3m2!1ses-419!2spe!4v1645144927241!5m2!1ses-419!2spe" width="450" height="370" style="border:0;" allowfullscreen="" loading="lazy"></iframe>                </div>
        </div></div></div>
        <br>
        <footer class="bg-footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="mt-4">
                          <h5 class="f-17 text-white fw-normal">Sobre Nosotros</h5>
                          <p class="text-white-50 mt-3 pt-1 justify">3B Ingenieros es una empresa dedicada al mantenimiento y construcción de edificaciones, 
                            que ha iniciado su actividad en el año 2012, somos una empresa joven y dinámica con grandes ambiciones y 
                            mucho potencial para una expansión agresiva, enfocada especialmente a la construcción, mantenimiento e innovación de las edificaciones.</p>
                      </div>
                  </div>
    
                  <div class="col-lg-7 offset-lg-1">
                      <div class="row">
                          <div class="col-lg-4">
                              <div class="mt-4">
                                  <h5 class="f-17 text-white fw-normal">Enrique</h5>
                                  <ul class="list-unstyled footer-link mt-3 mb-0">
                                      <li>Cel:  999666333</li>
                                      <li>Fijo: (001) 111222333</li>
                                      <li>enrique@ingenieros.com</li>
                                  </ul>
                              </div>
                          </div>
    
                          <div class="col-lg-4">
                              <div class="mt-4 ps-0 ps-lg-5">
                                  <h5 class="f-17 text-white fw-normal">Carlos</h5>
                                  <ul class="list-unstyled footer-link mt-3 mb-0">
                                      <li>RPC: 999666333</li>
                                      <li>Cel: 999666333</li>
                                      <li>Fijo: (001) 111222333</li>
                                      <li>carlos@ingenieros.com</li>
                                  </ul>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="mt-4 ps-0 ps-lg-5">
                                  <h5 class="f-17 text-white fw-normal">Sandra</h5>
                                  <ul class="list-unstyled footer-link mt-3 mb-0">
                                      <li>999666333</li>
                                      <li>sandra@ingenieros.com</li>
                                  </ul>
                              </div>
                          </div>
                      </div>
    
                  </div>
    
              </div>
              <hr style="border-top: 1px solid #fff; background: transparent;" class="my-4">
              <div class="row">
                  <div class="col-lg-12">
                      <img src="../img/logo-blanco_Mesa de trabajo 1.png" alt="logo_ingenieros" height="40">
    
                      <p class="text-white-50 float-end mb-0">
                        Copyrigth © 2022. Todos los Derechos Reservados 3B Ingenieros
                      </p>
    
                  </div>
    
              </div>
    
          </div>
      </footer>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>