<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/compilado.css" type="text/css">
    <title>Servicios - 3B Ingenieros</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="../img/logo-blanco_Mesa de trabajo 1.png" height="50"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav" text-align="right">
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link   active" href="servicios.html">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="trabajos.html">Trabajos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <section class="py-5 text-center container">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="text-dark">Nuestros Servicios</h1>
          </div></section>
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <img src="../img/servicios (1).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
    
                <div class="card-body">
                  <p class="card-text">Construcción Civil</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../img/servicios (2).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
    
                <div class="card-body">
                  <p class="card-text">Pintura Industrial</p>
                </div>
              </div>
            </div>
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../img/servicios (3).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
      
                  <div class="card-body">
                    <p class="card-text">Mantenimiento de Edificaciones</p>
                  </div>
                </div>
              </div>
    
            <div class="col">
              <div class="card shadow-sm">
                <img src="../img/servicios (4).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
    
                <div class="card-body">
                  <p class="card-text">Proyectos de Ingeniería.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../img/servicios (5).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
    
                <div class="card-body">
                  <p class="card-text">Elaboración de Planos de Instalaciones Eléctricas.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img src="../img/servicios (6).jpg" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
    
                <div class="card-body">
                  <p class="card-text">Elaboración de Plan de Contingencias/Seguridad</p>
                </div>
              </div>
            </div>
          </div>
        </div></div>
      </div>
      <footer class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mt-4">
                        <h5 class="f-17 text-white fw-normal">Sobre Nosotros</h5>
                        <p class="text-white-50 mt-3 pt-1 justify">3B Ingenieros es una empresa dedicada al mantenimiento y construcción de edificaciones, 
                          que ha iniciado su actividad en el año 2012, somos una empresa joven y dinámica con grandes ambiciones y 
                          mucho potencial para una expansión agresiva, enfocada especialmente a la construcción, mantenimiento e innovación de las edificaciones.</p>
                    </div>
                </div>
  
                <div class="col-lg-7 offset-lg-1">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="mt-4">
                                <h5 class="f-17 text-white fw-normal">Enrique</h5>
                                <ul class="list-unstyled footer-link mt-3 mb-0">
                                    <li>Cel:  999666333</li>
                                    <li>Fijo: (001) 111222333</li>
                                    <li>enrique@ingenieros.com</li>
                                </ul>
                            </div>
                        </div>
  
                        <div class="col-lg-4">
                            <div class="mt-4 ps-0 ps-lg-5">
                                <h5 class="f-17 text-white fw-normal">Carlos</h5>
                                <ul class="list-unstyled footer-link mt-3 mb-0">
                                    <li>RPC: 999666333</li>
                                    <li>Cel: 999666333</li>
                                    <li>Fijo: (001) 111222333</li>
                                    <li>carlos@ingenieros.com</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="mt-4 ps-0 ps-lg-5">
                                <h5 class="f-17 text-white fw-normal">Sandra</h5>
                                <ul class="list-unstyled footer-link mt-3 mb-0">
                                    <li>999666333</li>
                                    <li>sandra@ingenieros.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
  
                </div>
  
            </div>
            <hr style="border-top: 1px solid #fff; background: transparent;" class="my-4">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../img/logo-blanco_Mesa de trabajo 1.png" alt="logo_ingenieros" height="40">
  
                    <p class="text-white-50 float-end mb-0">
                      Copyrigth © 2022. Todos los Derechos Reservados 3B Ingenieros
                    </p>
  
                </div>
  
            </div>
  
        </div>
    </footer> <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>